@import url("https://fonts.googleapis.com/css?family=Monda|Roboto");
	
*{
  font-family: 'Roboto', sans-serif;
}

html,body{
  width:100%;
  height:100%;
  padding: 0px;
  margin:0;
}

#background{
    background-color: black;
    
    text-align: center;
    z-index: 0;
    padding:150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
  text-align: left;
  float:right;
  margin:0px;
  display:inline-block;
  margin-right: 10px;

}
header{
  background-color:rgba(79,79,79,1);
  position:fixed;
  padding:0 0;
  width:100%;
  z-index:1000;
}
#head{
  color:white;
}
#title{
  color:white;
  margin:0px;
  margin-left:5px;
  text-align:left;
  display:inline-block;
  line-height:58px;
}
article{
  top: 30%;
  width:auto;
  padding:15px;
  background-color: white;
  font-family: 'Monda', sans-serif;
}
br{
background-color:#f2f3f4;
}
.article1{
	margin-top:380px;
}
.dropdown-content {
    display: none;
    background-color:#00dcfb;
    min-width: 160px;
    z-index: 1;

}
.glyphicons-chevron-down{
    position:fixed;
    margin-bottom:50px;
    z-index:1000;
}
.dropdown-content a {
    color: white;
    text-decoration: none;
	
}
.dropdown{
    display:inline-block;
}
.dropdown > a{
    display:block !important;
}


.dropdown:hover { background-color:rgba(0,220,251,0.6);}

.dropdown:hover .dropdown-content {
    position:absolute;
    display: block !important;
	
}

.show {
       display:block;
}
h1.head{
	text-align: "center"; 
	color: white;
}
nav a {
  color: white !important;
  text-decoration: none !important;
  margin-right:-4px;
  padding:20px 15px;
  -webkit-transition: background-color 0.5s; /* Safari */
  transition: background-color 0.5s;
}
nav a:hover {
  background-color:rgba(0,220,251,0.6);
}
img[src="/tsawebsite/cloudicon.png"]{
    width:40px;
    height:40px;
    margin-top:10px;
    margin-left:10px;
}
button	{
	text-decoration: none;
	background-color: #58c0ff;
	color: white;
	padding: 0;
	border: none;
	display:inline-block;
}
button:hover	{
		background-color: #00dcfb;
		padding: 0;
		border: none;
		background: none;
}
.drop	{
	display: block;
}
#head	{
	font-size:300%;
}

dt{
    text-decoration:underline;
}
