*{
  font-family: arial;
}
html,body{
  width:100%;
  height:100%;
  margin: 0px;
  padding: 0px;
  background-color:#3498db;
}
h1{
 text-align:center; 
}
article{
  top: 30%;
  width:auto;
  padding:15px;
  border-radius: 50px;
  background-color: white;
}

         nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
           margin-left:-4px;
   
        }
        nav li {
            display:inline-block;
            width: 160px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            position: relative;
            
        }
        nav li a {
            display: block;
            width: 160px;
            height: 40px;
            text-decoration: none;
            color: gray;
          
        }
        nav li a:hover {
            background-color: lightgray;
        }
        nav ul.sub {
            position: absolute;
            background-color:rgba(25,25,112,0.5);
            display: none;
          margin-left:2px;
        }
        nav ul.sub li ul.sub {
            top:0;
            left: 160px;
        }

.show {display:block;}
