*{
  font-family: arial;
}
html,body{
  margin: 0px;
  padding: 0px;
}
a,button{
  text-decoration: none;
  border:none;
  color:black;
  padding:10px 16px;
  transition: color 0.5s, background-color 0.5s;
  margin-right:-4px;
}
a:hover{
  text-decoration: none;
  border:none;
  color:white;
  background-color:black;
}
button:hover{
  text-decoration: none;
  border:none;
  color:white;
  background-color:black;
}
nav{
  position: relative;
  display: block;
  z-index:9999;
}
#navfiller{
  height:100px;
  position:relative;
  display:block;
}
